*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fredoka:wght@300..700&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:wght@100;500&display=swap');
     font-family: "Lobster", sans-serif;
;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2e2e17;
    color: white;
    padding: 1rem;
}
.logo{
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    background-image: radial-gradient(circle, #09cc1c, #8dc239, #837d2a);
    border-radius: 50%;
    box-shadow: 0 0 60px rgba(228, 231, 6, 0.945);
}
